.content {
  padding: 10px;
  background-color: #ededed;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.btn-group {
  display: flex;
  justify-content: space-between;
}
.dropdown-lang {
  margin-bottom: 10px;
  background-color: #ededed;
}
.submit-btn {
  margin-top: 0.8rem;
  float: right;
}
.theme-toggler {
  display: flex;
  justify-content: space-between;
}
.dropdown-item {
  color: "#543f6f";
  font-size: 0.7em;
}
.dropdown-item:hover {
  color: #6c67fd;
  text-shadow: 0px 0px 1px #302e80;
  background-color: #ffffff;
}
.dropdown-menu {
  height: 300px;
  overflow-y: scroll;
}

.theme-label {
  margin: 0px 10px;
  font-size: 1em;
  font-weight: bold;
}
.theme-label-light {
  color: grey;
}
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-label {
  margin-top: 2px;
  cursor: pointer;
  text-indent: -9999px;
  width: 3rem;
  height: 1.5rem;
  background: #b4b2f3;
  display: block;
  border-radius: 100px;
  position: relative;
}

.toggle-label:after {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: 0.3rem;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border-radius: 10px;
  transition: 0.2;
}

input:checked + .toggle-label {
  background: #543f6f;
}

input:checked + .toggle-label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.toggle-label:active:after {
  width: 30px;
}
