.custom-form {
	width: 70%;
}

.input-title {
	border: 1px solid #aaa;
}

.form-control {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.ck-content .form-control {
	width: 60%;
}

.ck-content {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
	min-height: 80px;
}
