.content {
  padding: 10px;
  background-color: #000;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.list-group {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.list-group-item {
  background-color: #ededed;
}
.badge-dark {
  background-color: #333;
  color: #fff;
}
